<!DOCTYPE html>
<html>
<head>
  <title>FMServer</title>
    <!--<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>-->
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <!--<%= javascript_include_tag "http://vkontakte.ru/js/api/xd_connection.js?2" %>-->
      <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <%= favicon_link_tag %>
</head>
<body>
	<div id="content">
		<div id="windows">
			<%= render "layouts/windows" %>
		</div>
		<%= yield %>
	</div>
	<div id="bottomMenu">
		<%= render "layouts/bottom_menu" %>
	</div>

</body>
</html>