<div id="auth_window" class="border_radius_all">
	<div id="lable" class="border_radius">
		<center>Vine</center>
	</div>

	<div id="bottom_border">
	</div>

	<div id="content">
		<div id="coach_box">
			<%=image_tag "coach.jpg", :alt => "coach"%>
		</div>
		<div id="boss_box">
			<%=image_tag "boss.jpg", :alt => "boss"%>
		</div>

		<%= form_for @user, :url => users_path, :html => {:class => "nifty_form"} do |f| %>
			<%= f.text_field :login, {:size => 10, :placeholder => 'login', :autofocus => true, :required => true}  %>
			<%= f.submit "Create" %>
		<% end %>
	</div>
</div>